name: "Release"
on:
  push:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          token: ${{ secrets.SYNCED_GITHUB_TOKEN }}
          ref: "master"
      - name: Keep dist up-to-date
        run: |
          npm ci
          npm run build
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add dist/index.js
          git commit -m "chore: publish dist" || echo "nothing to commit"
          git push origin master
      - uses: actions/checkout@v5
        with:
          ref: master
      - name: Test Action
        uses: ./
        with:
          DRY_RUN: true
          FILE_PATTERNS: |
            ^README.md$
            ^.github/workflows/sync-.*
          TARGET_REPOS: |
            adrianjost/files-sync-target
          GITHUB_TOKEN: ${{ secrets.SYNCED_GITHUB_TOKEN }}
      - name: Checkout
        uses: actions/checkout@v5
        with:
          ref: master
      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@v5
        with:
          semantic_version: 18
          extra_plugins: |
            "@semantic-release/commit-analyzer@v9.0.2"
            "@semantic-release/release-notes-generator@v10.0.3"
            "@semantic-release/git@v10.0.1"
            "@semantic-release/github@v8.1.0"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
