name: "Release"
on:
  push:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: "master"
      - name: Keep dist up-to-date
        run: |
          npm ci
          npm run build
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add dist/index.js
          git commit -m "chore: publish dist" || echo "nothing to commit"
          git push origin master
      - uses: actions/checkout@v2
        with:
          ref: master
      - name: Test Action
        uses: ./
        with:
          DRY_RUN: true
          FILE_PATTERNS: |
            ^README.md$
            ^.github/workflows/sync-.*
          TARGET_REPOS: |
            adrianjost/files-sync-target
          GITHUB_TOKEN: ${{ secrets.SYNCED_GITHUB_TOKEN }}
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: master
      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@v2
        with:
          extra_plugins: |
            "@semantic-release/commit-analyzer"
            "@semantic-release/release-notes-generator"
            "@semantic-release/git
            "@semantic-release/github
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
